<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/employeemanager</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <mapping class="com.example.kltn.demo.entity.ChucvuEntity"/>
      <mapping class="com.example.kltn.demo.entity.CongLaoDongEntity"/>
      <mapping class="com.example.kltn.demo.entity.HibernateSequenceEntity"/>
      <mapping class="com.example.kltn.demo.entity.HopdongEntity"/>
      <mapping class="com.example.kltn.demo.entity.KhenthuongEntity"/>
      <mapping class="com.example.kltn.demo.entity.KiluatEntity"/>
      <mapping class="com.example.kltn.demo.entity.LoaikhenthuongEntity"/>
      <mapping class="com.example.kltn.demo.entity.LoaikiluatEntity"/>
      <mapping class="com.example.kltn.demo.entity.LuongEntity"/>
      <mapping class="com.example.kltn.demo.entity.NhanvienEntity"/>
      <mapping class="com.example.kltn.demo.entity.PhongbanEntity"/>
      <mapping class="com.example.kltn.demo.entity.QuatrinhcongtacEntity"/>
      <mapping class="com.example.kltn.demo.entity.TaikhoanEntity"/>
      <mapping class="com.example.kltn.demo.entity.TrinhdochuyenmonEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
